@media only screen and (max-width: 1200px) {
  .hero-right img {
    transform: translateX(14px) translateY(50px);
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 8px;
  }
  /* Header Section  */
  .search {
    display: none;
  }
  .header-container,
  .header-left,
  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* Hero Section  */
  .hero-left {
    padding-left: 20px;
  }
  .hero-left h1::after {
    content: "";
    width: 80px;
    height: 80px;
    background-image: url(img/chips.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 120px;
    right: 175px;
  }
  .single-product h2 {
    padding-left: 20px;
  }
  .product {
    padding-left: 20px;
    padding-right: 20px;
  }
  .product {
    gap: 100px;
  }
  .popular-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .testmonial-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .testmonial-container {
    column-gap: 100px;
  }
  /* .testmonial-right img {
    transform: translateY(-0px);
  } */
}
